html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* *TOP BAR LINKS */
.navBar{
  width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(#169220, rgb(29, 230, 29));
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: white;
    color: black;
  }

  /*INTRO TEXT DIV*/

  #intro_text{
    display: block;
    color: white;
    background: linear-gradient(#169220, rgb(29, 230, 29));
    height: auto;
    width: 80%;
    margin: 50px auto;
    padding: 40px 20px;
    border-radius: 20px;
    text-align: center;
    transition: 1s;
  }

  
  button:hover{
    background: linear-gradient(green,rgb(81, 241, 121));
  }
  button:active{
    background: green;
  }
  input[type="submit"], button{
    background: linear-gradient(green,rgb(81, 241, 121));
    margin: 5px 30%;
    border-radius: 10px;
    height: auto;
    padding: 10px;
    border: none;
    color: white;
  }
pre{
  font-weight: 10px;
  font-size: 20px;
text-align: center;}
 #intro_text:hover{
    transform: scale(0.95, 0.95);
    transition: 1s;
  }


    /*FORM*/


  
  #form, #inputScores{
    display: none;
    width: 80%;
    height: auto;
    margin: 50px auto;
    padding: 40px 20px;
    border-radius: 20px;
    background: linear-gradient(#169220, rgb(29, 230, 29));
    color: white
 
  }
  
  fieldset{
    border-style: none;
    border-radius: 10px;
  }
  legend{
    text-align: center;
    font-family: Arial,  sans-serif;
    margin: 10px auto;

  }
  input{
    margin-bottom: 10px;
    background: local;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    height: 30px;
    color: whitesmoke;
    
  }
  

  label{
    font-size: larger;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
#inputScores{

}
